<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Quiz Master</title>
</head>
<body>
    <div class="my_container">
        <div class="center">
            <h1 class="display-4">Welcome to Quiz Master</h1>
            <p class="lead">Test your knowledge and improve your skills.</p>
        </div>
        <div class="input_form text-center">
            <p class="fs-5">Hi, Welcome to Quiz Master. Let's get started!</p>
            <p class="fs-5">Knowledge is the divine power.</p>
            <a href="/login" class="btn btn-primary btn-lg">Login</a>
        </div>
    </div>
</body>
</html>