<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="my_container">
        <div class="center">
            <h1 class="display-4">Quiz Master</h1>
            <p class="lead">Login to continue</p>
        </div>
        <div class="input_form">
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="user_name" class="form-label">Email</label>
                    <input type="email" class="form-control" name="user_name" id="user_name" placeholder="iitm@study.ac.in" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </div>
                <div class="text-center">
                    <p>New user? <a href="/register">Signup</a></p>
                    <div class="err_msg">{{msg}}</div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>